
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Movie Watchlist</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
  <div align="center">
      <h1>Watchlist</h1>
  </div>
  <br>
  <br>
<form method="POST">
  <div class="form-row">
    <div class="col-5">
    </div>

    <div class="col">
        <input class="input" name="movie" type="text" placeholder="Movie Name">
            <button class="button is-info">Add Movie</button>
    </div>
  </div>
    <div class="form-row">
    <div class="col-7">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% set message_class = 'is-success' %}
                {% if category == 'error' %}
                    {% set message_class = 'is-danger' %}
                {% endif %}
                <div class="notification {{ message_class }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
  </div>
</form>
  <br>
<div class="list-group" align="center">
    {% for moviedata in movie_list  %}
    <h2><a href="https://www.imdb.com/find?ref_=nv_sr_fn&q={{ moviedata.title }}&s=all"><h2>{{ moviedata.title }}</h2></a></h2>
    <ul class="list-group">
        <a href="https://www.imdb.com/find?ref_=nv_sr_fn&q={{ moviedata.title }}&s=all"><img src="https://image.tmdb.org/t/p/w500/{{ moviedata.poster_path }}" alt="movie poster"><li class="list-group-item list-group-item-light"></a>
        <br>
        Rating: {{ moviedata.vote_average }} / 10
        <br>
        {{ moviedata.overview }}
        <br>
        {{ moviedata.release_date }}
        <br>
        <a href="{{ url_for('delete_movie', title=moviedata.title) }}"><button class="delete">Delete Movie</button></a></li>
    </ul>
    {% endfor %}





      <li class="list-group-item list-group-item-dark"></li>


</ul>
</div>